__pycache__
.DS_Store
.env
# Visual Studio Code configuration
/.vscode
/.cache
.env
.transitive_id
.transitive_token

# ROS 2 build and runtime artifacts
/build
/install
/log
/frames_*.gv
/frames_*.pdf
/robot_localization_debug.txt
