__pycache__
.DS_Store
.env
.transitive_id
.transitive_token
# Visual Studio Code configuration
/.vscode
/.cache

# ROS 2 build and runtime artifacts
/build
/install
/log
/frames_*.gv
/frames_*.pdf
/robot_localization_debug.txt
